.wrapper {
	display: flex;
	gap: 12px;
	align-items: center;
}

.counter {
	width: 22px;
	padding: 4px 6px;
	box-sizing: content-box;

	color: white;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	text-align: center;

	border-radius: 8px;

	background: #ff5500;
}
